.app {
  padding: 12px;
}

.informations {
  display: flex;
  flex-wrap: wrap;
}

.informations > div {
  flex-grow: 1;
}

.issue-list {
  max-width: 33%;
}

button {
  background: rgb(182, 10, 159);
  margin: 10px 0;
  border: 0;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
